* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Comic Sans MS", cursive;
    background-image: url("../images/background.png");
}

.nav-bar-top {
    margin-left: 33%;
    margin-right: 33%;
}

.top-nav {
    background-color: #CCC;
    width: 100%;
    height: 80px;
}

.top-nav-none > li {
    list-style-type: none;
    display: inline-block;
    font-size: 1.5em;
    padding: 0 15px;
    margin-top: 15px;
}

.side-nav a:hover {
    color: green;
}

.right {
    border-right: 1px solid black;
}

.top-nav-none li > a:hover {
    background: yellowgreen;
    transition: 1s;
}

h1 {
    text-align: center;
    font-size: 3em;
    border-bottom: 2px solid black;
    width: 90%;
    margin-left: 5%;
    padding-bottom: 20px;
}


h3.side-nav-h {
    text-align: left;
    font-size: 1.5em;
    margin-left: 20px;
}
.none {
    list-style-type: none;
    text-align: left;
    margin-left: 20px;
}

.side-nav {
    padding-bottom: 15px;
}

aside {
    height:100%;
    width: 15%;
    margin-top: 20px;
    float: left;
}

figure {
    display: inline-block;
    width: 30%;
    float: left;
}

figcaption {
    text-align: center;
}

article {
    width: 85%;
    display: inline-block;
}

.inner {
    float: right;
    width: 70%;
    margin-top: 3%;
}

p {
    text-align: left;
    width: 70%;
}

img {
    padding: 40px 40px 0;
}